apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-metrics-prometheus-adapter
  namespace: monitoring  # usually deployed in monitoring namespace
data:
  config.yaml: |
    rules:
    - seriesQuery: '{__name__=\~"inference_latency_ms|http_requests_per_second|rathor_valence_spikes_per_minute"}'
      resources:
        overrides:
          namespace: {resource: namespace}
          pod: {resource: pod}
      name:
        matches: ""
        as: ""
      metricsQuery: |
        sum(rate(<<.Series>>{<<.LabelMatchers>>}[5m])) by (<<.GroupBy>>)
